
body{
   font-family: 'Roboto Condensed', sans-serif;
   height: 100%
   
}
.active{
  background-color: #87D8F6
}

#boton_menu{
  color: white;
  background-color: #0F78A0;
  border: none;
  height:50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;

}

#boton_menu:hover{
  background-color: #87D8F6;
}

#menu-top
{
  background-color: #0F78A0;
  display: block;
  text-align:center;
  padding-left:auto;
  padding-right: auto;

}

#tabla{
  -webkit-box-shadow: inset 3px -4px 17px 3px rgba(207,233,255,0.3);
  -moz-box-shadow: inset 3px -4px 17px 3px rgba(207,233,255,0.3);
  box-shadow: inset 3px -4px 17px 3px rgba(207,233,255,0.3);
}